Welcome to Chat7 <%= current_user.username %>

<ul id="messages">
  <% @messages.each do |m| %>
    <li><%= m.username %>: <%= m.content %></li>
  <% end %>
</ul>

<%= form_for Message.new, remote: true do |f| %>
  <%= f.text_field :content %>
  <%= f.submit "Send", id: "message_submit" %>
<% end %>
