<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-options="is_hover:false" style="">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Chat7</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section" style="left: 0%;">
        <ul class="right">
          <% if user_signed_in? %>
            <li class="has-dropdown"><a href="#">Members</a>
              <ul class="dropdown">
                <li class=""></li>
                <li class="divider"></li>
              </ul>
            </li>
            <li class="has-dropdown"><a href="#"><%= current_user.username %></a>
              <ul class="dropdown">
                <li class=""><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
                <li class="divider"></li>
              </ul>
            </li>
            <li id="connection-status" title="Connecting..."></li>
          <% else %>
            <li class=""><%= link_to "Sign In", new_user_session_path %></li>
                <li class="divider"></li>
            <li class=""><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>


    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <% if flash[:error] %>
            <div data-alert="" class="alert-box error"><%= flash[:error] %><a href="" class="close">×</a></div>
          <% end %>
    
          <%if flash[:notice] %>
            <div data-alert="" class="alert-box"><%= flash[:notice] %><a href="" class="close">×</a></div>
          <% end %>
    
          <%if flash[:alert] %>
            <div data-alert="" class="alert-box alert"><%= flash[:alert] %><a href="" class="close">x</a></div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <%= yield %>
        </div>
      </div>
    </div>

    <% if content_for? :sticky_footer %>
      <div class="container sticky-footer">
        <div class="row">
          <div class="twelve columns">
            <%= yield :sticky_footer %>
          </div>
        </div>
      </div>
    <% end %>
    
    <%= javascript_include_tag "application", controller_name %>
  </body>
</html>
